Repository Pierre-eemi/atelier_git, pull requests merged in 2020-11, with the labels that each got.

#1 add bootstrap
  index.html
Labels: framework css

#2 Home
  index.html
Labels: html

#3 Form.php
  form.php
Labels: php fonctionnal

#4 New add
  contact.html
Labels: html

#5 add keyform
  contact.html
Labels: html
